@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    marging: 0;
    padding: 0;
    box-sizing: border-box;
}
    
@layer base {
    .btn { @apply bg-[#D6517D] rounded-[5px] text-white cursor-pointer font-medium p-[15px] mx-0 my-[15px] shadow-lg } 
};
